*{
  padding: 0px;
  margin: 0px;
}

#game{
  padding: 30px;
  margin: 30px;
  width: 700px;
  height: 608px;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
}

#replay {
  font-size: 30px;
  display: flex-center;
  text-align: center;
  visibility: hidden;
}

#character{
  position: absolute;
  bottom: 0px;
  left:0px;
}

.animate-jump{
  animation: jump 1.1s;
}

@keyframes jump{
  0%{bottom: 0px;}
  30%{bottom: 70px;}
  50%{bottom: 75px;}
  70%{bottom: 70px;}
  100%{bottom: 0px;}
}

#meteor {
  position: absolute;
  bottom: 200px;
  right: 0px;

}

#meteor-png {
  height: 70px;
  width: auto;
}

.animate-meteor{
  animation: meteor-anim 2s infinite linear;
}

@keyframes meteor-anim{
  0%{left: 750px;}
  100%{left: -200px;}
}

#block{
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#block-png{
  height: 60px;
  width: auto;
}

.animate-block{
  animation: block-anim 4s infinite linear;
}

@keyframes block-anim{
  0%{left: 900px;}
  100%{left: -700px;}
}

