*{
  padding: 0px;
  margin: 0px;
}

body {
  background-image: url("/img/background.png");
  background-repeat: no-repeat;
  background-size: 816px 480px;
}

#game{
  padding: 0px;
  margin: 0px;
  width: 816px;
  height: 480px;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
  background-image: 
  url("/img/trees1.png"),
  url("/img/mountains1.png"),
  url("/img/mountain.png");
  background-repeat: repeat-x,
  repeat-x,
  repeat-x;
  background-position: 0% 92%,
  0% 92%,
  0% 92%;
  

}

.animate-bg{
  animation: bg 2s infinite linear;
}

@keyframes bg{
  0% {background-position: 0% 92%;}
  100% {background-position: -100% 92%;}
}

#replay {
  font-size: 30px;
  font-family: serif;
  display: flex-center;
  text-align: center;
  visibility: hidden;
}

#character{
  position: absolute;
  bottom: 0px;
  left:0px;
}

.animate-jump{
  animation: jump 1.1s;
}

@keyframes jump{
  0%{bottom: 0px;}
  30%{bottom: 70px;}
  50%{bottom: 75px;}
  70%{bottom: 70px;}
  100%{bottom: 0px;}
}

#meteor {
  position: absolute;
  bottom: 200px;
  right: 0px;
  
}

#meteor-png {
  height: 70px;
  width: auto;
}

.animate-meteor{
  animation: meteor-anim 2s infinite linear;
}

@keyframes meteor-anim{
  0%{left: 750px;}
  100%{left: -200px;}
}

#rock{
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#rock-png{
  height: 60px;
  width: auto;
}

.animate-rock{
  animation: rock-anim 4s infinite linear;
}

@keyframes rock-anim{
  0%{left: 900px;}
  100%{left: -700px;}
}

